table{
    border-collapse: collapse;
    width: 100vw;
    height: 30vw;
    text-align: center;
}

tr, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th{
    border-collapse: collapse;
    background-color: rgb(143, 143, 143);
    border: 1px solid rgb(53, 53, 53);
}

tr:nth-child(even){
    background-color: lightgrey;
}